body:has(.modal) {
    position: relative;
    overflow: hidden;
}

body:has(.modal)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    z-index: 2;
}

.product-image {
    min-height: 180px;
}

.product-image img {
    max-height: 200px;
    display: block;
    text-align: center;
    margin: 0 auto;
}